.event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50em;
  border: solid black 0.2em;
  background-color: white;
  border-radius: 1em;
  opacity: 80%;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.left {
  margin: 0;
  padding: 0;
  width: 50%;
}
.right {
  margin: 0;
  padding: 0;
  width: 50%;
}

.eventHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.eventHead p {
  margin-right: 5em;
}

.comments p {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.comments {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 210, 143);
  margin: 0.2em;
}
