.App {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(146, 146, 146);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Header {
  height: 8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.createEventContainer {
  display: flex;
  justify-content: center;
}
.createEventForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
}
